/*************************************************
 * Font Imports
 *************************************************/
 
/* #region Font Imports */

@font-face {
    font-family: 'Consolas';
    src: url('../fonts/consola.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Consolas';
    src: url('../fonts/consolab.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Consolas';
    src: url('../fonts/consolai.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Consolas';
    src: url('../fonts/consolaz.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* #endregion */

/*************************************************
 * Main App
 *************************************************/

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Consolas', monospace;
    background-color: #1e1e1e;
    color: #abb2bf;
}

* {
    box-sizing: border-box;
}

mark {
    background: #caa621;
    color: #000;
}

input:focus,
input:active:focus,
input.active:focus,
input.focus,
input:active.focus,
input.active.focus {
    outline: 2px solid #61afef !important;
}

.highlight {
    color: #61afef;
}

/*************************************************
 * App Window
 *************************************************/

#app-window {
    width: 100%;
    height: 100%;
    position: relative;
}

#app-window.dragover {
    background: #2c323d;
}

#app-content {
    width: 100%;
    height: calc(100% - 47px);
    position: absolute;
    top: 0;
    left: 0;
}

#record-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

#default-content-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#default-content {
    text-align: center;
    background: #222;
    width: 50%;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px dashed #4e4e4e;
}

#app-toolbar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

/*************************************************
 * Record Display
 *************************************************/

/* #region Record Display */

#record-number {
    display: inline-block;
    background: #4b5363;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 5px 10px 3px 10px;
    border-radius: 5px;
    position: fixed;
    top: 10px;
    right: 25px;
    z-index: 1000;
}

#record-display {
    display: table;
    border: 1px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

#record-display th,
#record-display td {
    padding: 5px;
    border: 1px solid #2c323d;
    text-align: left;
    vertical-align: top;
    font-size: 14px;
    font-family: 'Consolas', monospace;
    color: #abb2bf;
}

#record-display th {
    font-weight: bold;
    background: #292929;
    border-color: #343434;
    color: #caa621;
    cursor: pointer;
    text-align: right;
    width: 20%;
    white-space: nowrap;
}

#record-display th:hover {
    background: #444;
}

#record-display td:hover {
    background: #222;
}

#record-display td {
    position: relative;
    cursor: pointer;
}

#record-display td.data-column span.copied-alert {
    display: inline-block;
    color: #caa621;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

#record-display td.html-column span.copied-alert {
    right: 80px;
    top: 0.6em;
    transform: none;
}

code,
pre {
    font-family: Consolas, monospace;
    margin: 0;
}

.collapsible-cell {
    position: relative;
}

.collapsible-cell.collapsed code {
    opacity: 0.5;
}

button.collapse-expand-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 11px;
    padding: 3px 6px;
}

/* #endregion */

/*************************************************
 * Toolbar
 *************************************************/

/* #region Toolbar */

#app-toolbar {
    padding: 10px;
    background: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-set {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-set-left button {
    margin-right: 5px;
}

.button-set-left button:last-of-type {
    margin-right: 0;
}

.button-set-right button {
    margin-left: 5px;
}

.button-set-right button:first-of-type {
    margin-left: 0;
}

button {
    margin: 0;
    background: #4b5363;
    color: #fff;
    padding: 5px 15px;
    border-radius: 3px;
    border: 0;
    font-weight: normal;
    font-size: 14px;
    user-select: none;
}

button:hover {
    background: #667288;
}

button i {
    pointer-events: none;
}

button[disabled="disabled"],
button.disabled {
    background: #363c48;
    color: #666;
}

/* #endregion */

/*************************************************
 * Modal
 *************************************************/

/* #region Modal */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #2c323d;
    text-align: center;
    border-radius: 10px;
    min-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#modal-close-btn {
    position: absolute;
    top: 6px;
    right: 6px;
    padding: 5px 8px 2px 8px;
    background: transparent;
    font-size: 20px;
    color: #abb2bf;
}

#modal-close-btn:hover {
    color: #fff;
}

#modal-header {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
    color: #fff;
}

#modal-instructions {
    font-size: 12px;
    color: #abb2bf;
    margin-bottom: 15px;
}

#modal-input {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #121519;
    color: #abb2bf;
    border: none;
    border-radius: 5px;
}


#modal-input[type="number"] {
    width: 100px;
}

.modal-content button {
    padding: 8px 16px;
}

/* #endregion */

/*************************************************
 * Alerts
 *************************************************/

/* #region Alerts */

#alert-container {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #caa621;
    color: #121519;
    padding: 15px 15px 13px;
    line-height: 1;
    font-size: 16px;
    border-radius: 5px;
    transition: opacity 2s;
    opacity: 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

#alert-container.show {
    transition: opacity 0.25s;
    opacity: 1;
    bottom: 80px;
}

#alert-container.hide {
    transition: opacity 0s;
    opacity: 0;
    bottom: -100px;
}

#alert-container .highlight {
    color: #000;
    font-weight: bold;
}

/* #endregion */